<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="output">{{ output }}</div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="primary" (click)="clear()">C</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="secondary" (click)="push($event)">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="secondary" (click)="push($event)">2</ion-button>
      </ion-col>
      <ion-col>  
        <ion-button color="primary" (click)="pushOperator($event)">+</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button color="primary" (click)="pushOperator($event)">-</ion-button>
      <ion-button color="primary" (click)="pushEquals()">=</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
